<script type="text/javascript">
function focusSearch(field) {
  field.value = "";
  field.style.color = "black";
}
</script>
<form onsubmit="return false;">
  <div id="search_controls">
    <input id="query_box" name="q" size="30" onkeyup="filterCourses(this.value)" autocomplete="off" type="text" value="search courses" onClick="focusSearch(this);">
  </div>
  <div id="course_browser">
    <h2><%= t('ocwfinder.browse_courses') %>&nbsp; &nbsp; &nbsp; &nbsp;<%= link_to("[#{t('ocwfinder.use_tag_cloud')}]", "#{@main_domain}/resources?grain_size=course") %></h2>
    <div id="browser">
      <div id="br1" class="browserPane">
        <% tag_list(@tag_cloud) do |tag, frequency| -%>
          <%= render :partial => 'tags/tag_link', :object => tag, :locals => { :level => 1, :tags => "", :frequency => frequency } %>
        <% end %>
      </div>
      <div id="br2" class="browserPane"></div>
      <div id="br3" class="browserPane"></div>
    </div>
  </div>
  <div id="courses">
  </div>
</form>
