/* global */
a{color:#003B67;}
a:visited{color:#003B67;}
a:hover{color:#003B67;}
.container{min-width:720px;max-width:1050px;width:90%;margin:0 auto;}
div.two-border {padding:0 4px;margin:0 5px;border-right:1px solid #eee;border-left:1px solid #eee;}
div.two-colborder {padding:0 24px;margin:0 25px;border-right:1px solid #eee;border-left:1px solid #eee;}
.left{float:left;}
.align-right{text-align:right;}
h1{font-size:22px;font-weight:bold;}
h2{font-size:18px;font-weight:bold;color:#333;}
h3{font-size:14px;font-weight:bold;color:#333;}
.big-text{font-size:18px;}
/* header */
#logo{}
#header{width:100%;height:84px;margin:0;background-image:url('/images/folksemantic/bg-hdr.jpg');background-repeat:no-repeat;}
#current-locale-flag{vertical-align:middle;}
#top-links{float:right;margin:3px 30px;}
#top-links a{font-weight:bold;color:#2B7EAA;text-decoration:none;font-size:1em;}
#top-links a:hover{text-decoration:underline;}
#signup-links{margin:3px 5px;}
#signup-links a{font-weight:bold;color:#2B7EAA;text-decoration:none;font-size:1.4em;}
#signup-links a:hover{text-decoration:underline;}
/* footer */
#footer{text-align:center;padding-top:6px;padding-bottom:6px;margin:20px auto;font-size:90%;background-color:#EAF4FF;width:100%;}
#footer a{text-decoration:none;}
#footer a:hover{text-decoration:underline;}
/* home page */
#advertisements{width:786px;margin:0 auto;}
#advertisements h2{margin-top:6px;font-weight:bold;font-size:24px;}
.advert {width:210px;height:190px;padding:15px;border:dashed 1px gray;line-height:30px;margin:10px 10px 20px;text-align:center;cursor:hand;}
.advert .highlight {font-size:150%;font-weight:bold;background:none;}
/* content pages */
#content-page{width:600px;margin:0px auto;font-size:18px;}
#content-page p{margin:0 0 .5em;}
/* search results */
#finder{margin:0 26px; padding-top:12px;line-height:1.3em;}
#results p{margin: 0 0 .8em;}
#results-description{border-top:solid 1px #888;background-color:#EAF4FF;margin-bottom:1em;}
#results-description span{padding-right:6px;}
.results-nav{margin:12px;text-align:center;}
.results-nav a{margin:0px 3px;}
.results-nav .current{margin:0px 3px;font-weight:bold;color:#A90A07;}