/* global */
a{color:#0568b2;}
a:visited{color:#003B67;}
a:hover{color:#003B67;}
.container{min-width:720px;max-width:1050px;width:90%;margin:0 auto;}
div.two-border {padding:0 4px;margin:0 5px;border-right:1px solid #eee;border-left:1px solid #eee;}
div.two-colborder {padding:0 24px;margin:0 25px;border-right:1px solid #eee;border-left:1px solid #eee;}
.left{float:left;}
.align-right{text-align:right;}
h1{font-size:22px;font-weight:bold;}
h2{font-size:18px;font-weight:bold;color:#333;}
h3{font-size:14px;font-weight:bold;color:#333;}
.big-text{font-size:18px;}
/* header */
#logo{}
#header{width:100%;height:84px;margin:0;background-image:url('/images/folksemantic/bg-hdr.jpg');background-repeat:no-repeat;}
#current-locale-flag{vertical-align:middle;}
#top-links{float:right;margin:3px 30px;}
#top-links a{font-weight:bold;color:#2B7EAA;text-decoration:none;font-size:1em;}
#top-links a:hover{text-decoration:underline;}
#signup-links{margin:3px 5px;}
#signup-links a{font-weight:bold;color:#2B7EAA;text-decoration:none;font-size:1.4em;}
#signup-links a:hover{text-decoration:underline;}
#course_browser{width:600px;margin:0px auto 15px;border-bottom:1px solid #CCC;border-right:1px solid #CCC;}
/* footer */
#footer{text-align:center;padding-top:6px;padding-bottom:6px;margin:20px auto;font-size:90%;background-color:#EAF4FF;width:100%;}
#footer a{text-decoration:none;}
#footer a:hover{text-decoration:underline;}
/* home page */
#advertisements{width:786px;margin:0 auto;}
#advertisements h2{margin-top:6px;font-weight:bold;font-size:24px;}
.advert {width:210px;height:190px;padding:15px;border:dashed 1px gray;line-height:30px;margin:10px 10px 20px;text-align:center;cursor:hand;}
.advert .highlight {font-size:150%;font-weight:bold;background:none;}
/* content pages */
#content-page{width:600px;margin:0px auto;font-size:18px;}
#content-page p{margin:0 0 .5em;}
/* search results */
#finder{margin:0 26px; padding-top:12px;line-height:1.3em;}
#results p{margin: 0 0 .8em;}
#results-description{border-top:solid 1px #888;background-color:#EAF4FF;margin-bottom:1em;}
#results-description span{padding-right:6px;}
.results-nav{margin:12px;text-align:center;}
.results-nav a{margin:0px 3px;}
.results-nav .current{margin:0px 3px;font-weight:bold;color:#A90A07;}

a.x{font-weight:normal;color:#336699;}
.soOn{background:#bcc;}
.soOff{background:#ccc;}
.st0{background:#ec6;}
.st1{background:#ade;}
.st2{background:#ce6;}
.st3{background:#e96;}
.st4{background:#ead;}
#query_box{color:#999999;text-align:center;color:#666;font-size:18px;}
#search_controls{text-align:center;margin:10px 0 20px;}
.browserPane{position:absolute;font-size:1em;line-height:130%;overflow:auto;width:200px;height:190px;padding:5px 0;border-left:1px solid #ccc;}
.browserPane a{font-weight:normal;}
.browserPane p{margin:0;padding:0 4px;}
.browserPane .c{color:#666;}
#mast{padding:5px 0 5px 0;}
#mast img{float:left;padding:2px 10px 0 0;}
#browser{position:relative;overflow:hidden;height:200px;width:100%}
#rl{left:0;}
#br1{left:0px;}
#br2{left:200px;}
#br3{left:400px;}
#br4{left:600px;}
#br5{left:800px;}
#br6{left:1000px;}
#topRight{font-size:10pt;}
#ps{margin-top:5px;}
#ft{font-size:.7em;color:#555;}
.desc{font-size:.85em;}
.course{font-size:.8em;border-bottom:1px dotted #ddd;}
.course a{font-weight:bold;}
.course p{margin:0 5px;padding:3px 0;}
.show_link{color:#888;}
.fieldWithErrors{border:3px solid red;padding:3px;margin:0px;}
.notice{font-weight:bold;}
#courses{width:600px;margin:0 auto;}

h2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#999999 none repeat scroll 0 0;
border:1px solid #AAAAAA;
color:#FFFFFF;
font-family:tahoma,sans-serif;
font-size:1em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:5px 0 0;
padding:3px;
}
h2 a{color:white;}
h2 a:visited{color:white;}

/* support */
.support-information{font-size:9px;color:#333;}