<div class="block span-8 column" id="header">
    <div id="logo">
      <a href="/"><img src="/images/ocwfinder-banner.gif" alt-"OpenCourseWare Finder Logo"></a>
    </div>
    <div id="topRight">
      :: <a href="/about">About</a>
      :: <a href="http://www.folksemantic.com/feeds/new">Add Your OCW</a>
    </div>
          <a style="font-weight:bold;border:1px solid black; color:white;text-decoration:none;background:#0568B2;padding:6px 12px;" href="http://www.folksemantic.com/signup">Sign up for the beta!</a>
</div>

