<div id="header" class="block span-24 column">
  <div id="top-links">
    <a href="/about">About</a> :: <a href="http://www.folksemantic.com/feeds/new">Add Your OCW</a>
  </div>
  <div class="clear"></div>
  <div id="signup-links" class="center">
    <a href="http://www.folksemantic.com/signup">Sign up for the Folksemantic beta!</a>
  </div>
</div>
<div id="logo" class="block span-24 column center">
  <a href="/"><img src="/images/ocwfinder-banner.gif" alt-"OpenCourseWare Finder Logo"></a>
</div>

